/* Mobile Styles ------------------------------->*/

/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout */
.header {
  font-family: Arial, Helvetica, sans-serif;
}
/* Blocks */

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.brand-title {
  width: 50px;
  position: relative;
  right: 130px;
  top: 15px;
}
.navbar-links {
  width: 100%;
  /* display: flex; */
  display: none;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-right: 150px;
}

.navbar-links li {
  list-style: none;
  width: 100%;
  margin: 10px;
}

.navbar-links .add {
  margin-right: 15px;
}

.navbar-links li:hover {
  background-color: #555;
}

.navbar-links a {
  width: 100%;
  text-decoration: none;
  color: black;
  /* padding: 1rem; */
  font-size: 0.75rem;
  text-align: center;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25px;
  height: 21px;
}

.toggle-button .bar {
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: white;
}

.navbar-links.active {
  display: flex;
}

.navbar-links .profile {
  width: 50px;
  border-radius: 50%;
}
.search {
  width: 25px;
}
.sb {
  position: relative;
  left: 30px;
  bottom: 30px;
  border: solid #ffffff;
  width: 200px;
  height: 30px;
  display: grid;
  grid-template-columns: 27px 1fr;
  box-shadow: 0 0 20px -10px;
}
.search {
  display: flex;
  justify-content: flex-start;
}
.sb p {
  color: grey;
}

/* Desktop Styles -------------------------------> */

@media (min-width: 550px) {
  .toggle-button {
    display: none;
  }
  .brand-title {
    position: relative;
    left: 10px;
    top: -6px;
    width: 40px;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-evenly;
    border: solid black 1px;
    box-shadow: 0 0 20px -10px;
  }
  .navbar-links {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1em;
  }
  .navbar-links ul {
    flex-direction: row;
    width: 150px;
  }
  .navbar .profile {
    width: 30px;
  }

  .sb {
    position: relative;
    top: -13px;
  }
}
